name: Submit Application
on: workflow_dispatch

jobs:
  submit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run script
        env:
          # This pulls from GitHub Secrets and masks it in the logs
          SIGNING_SECRET: ${{ secrets.B12_SIGNING_SECRET }}
        run: python3 main.py